body.dark-mode {
  background-color: #1f2937;
  color: #f3f4f6;
}

body.dark-mode a {
  color: #93c5fd;
}

body.dark-mode a:hover {
  color: #bfdbfe;
}

body.dark-mode button {
  background-color: #b9c3d1;
  color: #030711;
  border-color: #0441ba;
}

body.dark-mode button:hover {
  border-color: #93c5fd;
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: #dde2ea;
  color: #2e2f32;
  border-color: #6b7280;
}


body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #040c1c;
}

body.dark-mode .bg-purple-100 {
  background-color: #374151;
}

body.dark-mode .bg-purple-200 {
  background-color: #4b5563;
}

body.dark-mode .bg-purple-300 {
  background-color: #dadfeb;
}

body.dark-mode .text-black {
  color: #3c3e41;
}